*.mat
*.fig
*.pdf
*.png
*.jpg
*.csv
*.m~
*.mac
*.txt
*.json
*.iges
file.*
file2.*
frictionResults/
FEMSimulation/dataset/models
FEMSimulation/dataset/FEMsimulation
/libs
/simulation/results
/simulation/Finger-Beam/results
/simulation/Finger-Foam/results
/simulation/Finger-Ellipsoid/results
/frictionAnalysis/testSolve
/frictionAnalysis/functionsOld
/frictionAnalysis/figures
experiments/



